body
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#newLocation
{
    background-color: aqua;
}

#newProduct
{
    background-color: orange;
}
