@media all and (min-width: 50px)   {  body, input, label  { font-size:0.4em;  } }
@media all and (min-width: 100px)  {  body, input, label  { font-size:0.4em;  } }
@media all and (min-width: 200px)  {  body, input, label  { font-size:0.6em;  } }
@media all and (min-width: 300px)  {  body, input, label  { font-size:0.8em;  } }
@media all and (min-width: 400px)  {  body, input, label  { font-size:1.0em;  } }
@media all and (min-width: 500px)  {  body, input, label  { font-size:1.2em;  } }
@media all and (min-width: 600px)  {  body, input, label  { font-size:1.2em;  } }
@media all and (min-width: 700px)  {  body, input, label  { font-size:1.4em;  } }
@media all and (min-width: 800px)  {  body, input, label  { font-size:1.6em;  } }


*
{
    -webkit-appearance: none;
}

body
{
    margin: 0px;
    overflow-x: hidden;
}

input
{
    outline: none;
    text-align: center;
    border-radius: 30px;
}

input:active
{
    transform: scale(0.9);
}

select
{
    background-color: #0aa4ff;
    border: 4px double black;
    outline: none;
    padding: 5px;
    text-transform: capitalize;
    font-size: 1em;
    border-radius: 30px;
}

#siteContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-transform: capitalize;
}

#Header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: green;
    position: fixed;
    top: 0;
    height: 10vw;
}

#HeaderBuffer
{
    height: 11vw;
}

.headerItem
{
    width: 100%;
    border: 4px double white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerItem:hover
{
    background-color: black;
    color: green;
}

.userPhoto
{
    height: 70%;
    margin: 0px 5px;
}

.signOutButton
{
    background-color: #16f5d8;
    color: black;
    border: 2px dotted white;
}

.signOutButton:hover
{
    background-color: black;
    color: #16f5d8;
}

.listItem 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.listItem > *
{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.optionsModal
{
    height: 50vh;
    width: 50vw;
    border: 1px solid green;
    position: fixed;
    top: 25vh;
    left: 25vw;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    flex-direction: column;
}
#coverAll
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

.tableHeader h3 
{
    width: 100%;
    text-align: center;
    border-bottom: 3px solid black;
    margin: 0px;
}

.tableHeader 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabContainer
{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listContainer 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.leftList
{

}

.rightList
{
    border-left: 3px solid black;
}

.boughtButton
{
    background-color: #ffd90c;
    color: black;
    border: 2px dotted white;
}

.boughtButton:hover 
{
    background-color: black;
    color: #ffd90c;
}

.changeButton
{
    background-color: #0064ff;
    color: black;
    border: 2px dotted white;
}

.changeButton:hover 
{
    background-color: black;
    color: #0064ff;
}

.addToShoppingListButton
{
    background-color: #bb23ea;
    color: black;
    border: 2px dotted white;
}

.addToShoppingListButton:hover 
{
    background-color: black;
    color: #bb23ea;
}

.removeFromShoppingListButton, .deleteButton
{
    background-color: #e02020;
    color: white;
    border: 2px dotted white;
}

.removeFromShoppingListButton:hover, .deleteButton:hover
{
    background-color: black;
    color: #e02020;
}

.minusButton, .removeButton
{
    background-color: #e02020;
    color: white;
    border: 2px dotted white;
}

.minusButton:hover, .removeButton:hover
{
    background-color: black;
    color: #e02020;
}

.plusButton, .addButton
{
    background-color: #04e004;
    color: black;
    border: 2px dotted white;
}

.plusButton:hover, .addButton:hover
{
    background-color: black;
    color: #04e004;
}

.cancelButton
{
    background-color: gray;
    color: black;
    border: 2px dotted white;
}

.cancelButton:hover
{
    background-color: black;
    color: gray;
}

.addAnother
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3ffb5;
}

.listItem p 
{
    margin: 10px 0px;
    max-width: 50%;
}
